/* styles.css */
/* Tara Wilson - styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

h1 {
    color: #333;
}

p {
    font-size: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

@media (max-width: 600px) {
    body {
        background-color: #b1f386;
    }
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}

    <div class="image-grid">
        <div class="image-item">
            <img src="C:\Users\wilso\OneDrive\Desktop\final_webpage\image1.webp" alt="flowers">
        </div>
        <div class="image-item">
            <img src="C:\Users\wilso\OneDrive\Desktop\final_webpage\image3.webp" alt="purple">
        </div>
        <div class="image-item">
            <img src="C:\Users\wilso\OneDrive\Desktop\final_webpage\image4.webp" alt="purple flowers">
        </div>
        <div class="image-item">
            <img src="C:\Users\wilso\OneDrive\Desktop\final_webpage\image2.webp" alt="colorful">
        </div>
